WebContent/WEB-INF/wsdl/BuscadorPeliculasImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://server.arso.um.es/" name="BuscadorPeliculasImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.arso.um.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.arso.um.es/" schemaLocation="BuscadorPeliculasImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="buscarPorTitulo">
    <part name="parameters" element="tns:buscarPorTitulo"/>
  </message>
  <message name="buscarPorTituloResponse">
    <part name="parameters" element="tns:buscarPorTituloResponse"/>
  </message>
  <message name="PeliculaException">
    <part name="fault" element="tns:PeliculaException"/>
  </message>
  <message name="obtenerInformacion">
    <part name="parameters" element="tns:obtenerInformacion"/>
  </message>
  <message name="obtenerInformacionResponse">
    <part name="parameters" element="tns:obtenerInformacionResponse"/>
  </message>
  <portType name="BuscadorPeliculas">
    <operation name="buscarPorTitulo">
      <input message="tns:buscarPorTitulo"/>
      <output message="tns:buscarPorTituloResponse"/>
      <fault message="tns:PeliculaException" name="PeliculaException"/>
    </operation>
    <operation name="obtenerInformacion">
      <input message="tns:obtenerInformacion"/>
      <output message="tns:obtenerInformacionResponse"/>
      <fault message="tns:PeliculaException" name="PeliculaException"/>
    </operation>
  </portType>
  <binding name="BuscadorPeliculasImplPortBinding" type="tns:BuscadorPeliculas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="buscarPorTitulo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PeliculaException">
        <soap:fault name="PeliculaException" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerInformacion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="PeliculaException">
        <soap:fault name="PeliculaException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BuscadorPeliculasImplService">
    <port name="BuscadorPeliculasImplPort" binding="tns:BuscadorPeliculasImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

